# Python
__pycache__/
*.py[cod]

# Virtual env
.venv/

# Env files
.env
.awsenv

# Build / cache
dist/
build/
*.egg-info/
*.log

# IDE
.vscode/
.idea/

# Tests
.pytest_cache/
.coverage
test.db

# ephemeral
td.json
td-new.json
containers.json
containers-new.json
tmp.txt
